<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link hrel="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">	
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/font-awesome.min.css') }}">	
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/templatemo_style.css') }}">	

</head>

<body>
    <div class="templatemo-logo visible-xs-block">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
            <h1 class="logo-left">Facemask Detection</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">

        </div>
    </div>

    <div class="templatemo-container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
            <h1 class="logo-left hidden-xs margin-bottom-60">Facemask Detection</h1>
            <div class="tm-left-inner-container">
                <ul class="nav nav-stacked templatemo-nav">
                    <li><a>Home</a></li>

                    <li><a>Camera 1</a></li>

                    <li><a>Camera 2</a></li>
                </ul>
            </div>


        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
            <h1 class="logo-right hidden-xs margin-bottom-60">Streaming App</h1>
            <div class="tm-right-inner-container">
                <h1 class="templatemo-header"></h1>
                <article class="templatemo-item">
                    <h2>Camera 1 (Default)</h2>

                    <p>
                        <img src="" alt="WebCamera"></br></br>
                    </p>

                </article>
                <hr>
                <footer>
                    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2021 Angulo
                        Valle William
                    </p>
                    </br>
                    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Website:
                        https://lovecodelife.com/view/projects/</p>

                </footer>
            </div>
        </div>

    </div>
</body>

</html>